html,
body {
  min-height: 100vh;
}

body {
  font-size: $bodyFontSize;
  font: $fontRegular;
  box-sizing: border-box;

  ::selection {
    background-color: $paleOrange;
  }

  &[active-modal] {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  box-sizing: inherit;
  outline-color: $orange;

  &[hidden] {
    display: none;
  }
}

input,
textarea {
  caret-color: $orange;
}