@import '/src/styles.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $white;
  z-index: 10;

  &__navbar {
    width: inherit;
    padding: 0 .5rem;
    color: $darkGrayishBlue;
    
    .shopping-cart-wrapper {
      position: relative;
      width: 100%;
    }

    .navbar-wrapper {
      display: flex;
      align-items: center;
      gap: 4rem;
      min-height: 4rem;
      border-bottom: 1px solid rgba($grayishBlue, .3);

      @media only screen and (max-width: 600px) {
        gap: 1.5rem;
        border: none;
      }
    }
  }

  &__menu-btn {
    display: none;

    @media only screen and (max-width: 900px) {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }
  }

  &__links-list {
    display: flex;
    gap: 2rem;
    height: 6.25rem;

    @media only screen and (max-width: 900px) {
      display: none;
    }
  }
  
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    transition: color .3s $easeOutQuint;

    &::before {
      content: '';
      position: absolute;
      opacity: 0;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 4px;
      transform: scaleX(0);
      background-color: $orange;
      transition: opacity .3s $easeOutQuint,
                  transform .3s $easeOutQuint;
    }

    &:hover {
      color: $black;

      &::before {
        opacity: 1;
        transform: scaleX(1);
      }
    }
  }
  
  &__user-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-left: auto;

    @media only screen and (max-width: 900px) {
      gap: 1rem;
    }
  }

  .shopping-cart-launch-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  
    @media only screen and (max-width: 600px) {
      width: 2.5rem;
      height: 2.5rem;
    }
  
    .icon {
      transition: filter .2s ease;
    }
  
    &.active,
    &:hover {
      .icon {
        filter: brightness(10%);
      }  
    }
  
    .badge {
      position: absolute;
      top: .5rem;
      right: 5px;
      display: block;
      padding: 0 .45rem;
      color: $white;
      font-size: .65rem;
      background-color: $orange;
      border-radius: 1rem;
      z-index: 1;
      user-select: none;

      @media only screen and (max-width: 600px) {
        top: 4px;
        right: 2px
      }
    }
  }
  
  &__user-profile-btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 0 2px transparent;
    transition: box-shadow .3s $easeOutQuint;
    user-select: none;
    overflow: hidden;

    &:hover {
      box-shadow: 0 0 0 2px $orange;
    }

    &::after {
      content: '';
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .user-avatar {
      display: block;
      width: inherit;
      height: inherit;
      object-fit: contain;
    }

    @media only screen and (max-width: 600px) {
      width: 2.5rem;
      height: 2.5rem;
    }
  }  
}